/* announcements events */
.block--announcement{
  background-color: $color-light-blue;
  position: relative;
  text-align: center;
  /*padding-top: -30px*/
  /*clip-path: polygon(0 0, 100% 30px, 100% 100%, 0 100%);*/

  .block--announcement-date{
    font-weight: 700;
    color: $color-red;
  }

  h2{
    color: $color-clean;
  }
}

.block--announcement-date-month{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.4em;
  letter-spacing: 2px;
  /*border-bottom: 5px solid $color-red;
  padding-bottom: 10px;
  width: 30px;*/
  display: block;
  margin: 0 0 10px 0;
  text-align: center;
}

.block--announcement-date-day{
  font-size: 3.5em;
  display: block;
  margin-bottom: 30px;
  text-align: center;
}

.block--announcement-content{
  /*display: inline-block;
  float: right;
  width: calc(100% - 85px);
  margin-bottom: 10px;*/
}



/* announcements notifications */
.block--announcement-notification{
  text-align: center;

  p{
    margin-top: 20px;
  }
}

.image--announcement-notification{
  background: url('../img/icons/megafoon.svg') no-repeat center;
  display: block;
  margin: 0 auto;
  height: 50px;
}