/* Default font-size */

html {
  /*1em is now 10px*/
  font-size: 0.625rem;

  body {
    /*overrule default font-size*/
    font-size: 1.5em;
    line-height: 1.7em;

    nav{
      line-height: normal;
    }

    /* Default font */
    font-family: $font-content;

    /* Default color */
    color: #0a0e0d;
  }
}

/* max content width for big screens */
.content {
  margin: 0 auto;
  width: 1200px;
}

/* Default headings */
h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
  text-align: center;
}

h1{
  font-size: 5.5rem;
  line-height: 7rem;
}

h2{
  font-size: 4rem;
  line-height: 1.2em;
  margin-bottom: 30px;
}

h3{
  font-size: 3rem;
}

/* Default section white space */
.block--content{
  padding: 40px 15px;
}

/* Default image border */
.image--border{
  border-width: 6px 0 0 0;
  border-style: solid;
  border-image: url("../img/icons/border-line.png") 30 0 0 0 round;
}

/* Clearfix div after floating */
.clearfix{
  clear: both;
}

/* clip */
$clip-path-up: polygon(0 0, 100% 30px, 100% 100%, 0 100%);
$clip-path-down: polygon(0 0, 100% 30px, 100% 100%, 0 100%);

@media screen and (min-width: 1200px){
  .block--content{
    margin: 0 auto;
    width: 1200px;
  }
}