footer{
  background-color: $color-dark-blue;
  color: $color-clean;
  text-align: center;
}

footer a{
  color: $color-clean;
}

footer .credits{
  font-size: 0.9em;
}

footer .social{
  font-size: 1.1em;
}