/* navigation */
@import "navigation";

/* intro */

.video--overlay{
  background-color: $color-dark-blue;
  height: 550px;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
}

.intro--video{
  overflow-x: hidden;
}

video {
  height: 550px;
  width: auto;
  display: block;
  transform: translate(-30%, 0);
  /* fix video bottom white line bug */
  /*margin: 0 0 -2px 0;*/
}

.block--intro h1{
  position: absolute;
  z-index: 5;
  top: 100px;
  color: $color-clean;
}